extends ../layout

block head
  title= __('Sign in')

block content
  h1= __('Sign in')

  form.authForm.js-form-signin
    .field
      label.field-label(for="username-field")= __('username:')
      input.field-input(id="username-field" type="text" name="username" placeholder=__("username") maxLength="20" required)
    .field
      label.field-label(for="password-field")= __('password:')
      input.field-input(id="password-field" type="password" name="password" placeholder=__("password") required)
    .field
      button.btn.btn-submit(type="submit")= __('Submit')