.tag
  h2
    a.title(href="/tags/"+tag.slug)= tag.title
    a.edit(href="/tags/"+tag.slug+"/edit") edit
  .description= tag.description
  .meta
    a.articlesCount(href="/tags/"+tag.slug) #{tag.articlesCount} articles
    = " | "
    time(title=moment(tag.createdAt).calendar() datetime=moment(tag.createdAt).format())= moment(tag.createdAt).fromNow()
    span.author
      = " by "
      a(href="/users/"+tag.creator.username)= tag.creator.username

