header.siteHeader
  ul.rightMenu
    if currentUser
      li
        span.dropdown
          a.item.handle(href="/users/" + currentUser.username)= currentUser.username
          span.menu
            a(href="/users/" + currentUser.username)= currentUser.username
            a(href="/users/" + currentUser.username + "/articles")= __('My articles')
            a(href="/users/" + currentUser.username + "/comments")= __('My comments')
            a(href="/users/" + currentUser.username + "/hubs")= __('My hubs')
            a(href="/settings")= __('Settings')
            a.js-button-logout(href="#")= __('Logout')
    else 
      li
        a.item(href="/auth/signin" rel="nofollow")= __('Sign in')
      li
        a.item(href="/auth/signup" rel="nofollow")= __('Sign up')


  .logo
    a(href="/")= __('Sitename.com')

  ul.leftMenu
    li 
      a.item(href="/articles")= __('Articles')
    li 
      a.item(href="/hubs")= __('Hubs')
    li
      a.item(href="/users")= __('Users')
  