article
  h2
    a.title(href="/articles/"+article._id+"/"+article.slug)= article.title
    a.edit(href="/articles/"+article._id+"/edit") edit
  .content!= article.html
  .meta
    a.commentsCount(href="/articles/"+article._id+"/"+article.slug+"#comments") #{article.commentsCount} comments
    = " | "
    time(title=moment(article.createdAt).calendar() datetime=moment(article.createdAt).format())= moment(article.createdAt).fromNow()
    span.author
      = " by "
      a(href="/users/kulakowka") kulakowka

    if article.tags.length
      span.tags 
        = " in "
        each tag, index in article.tags
          if index
            = ", "
          a(href="/tags/"+tag.slug)= tag.title


          
        