form.articleForm(action=(article._id ? "/articles/"+article._id+"?_method=PUT" : "/articles") method="post" autocomplete="off" enctype="application/x-www-form-urlencoded")
  div
    input(type="text" name="title" placeholder="Title" value=article.title maxLength="150" required autofocus)
  div
    textarea(name="summary" rows="6" placeholder="Article summary. Plain text only." required)= article.summary
  div
    .tabs
      .tab.active(data-frame="write") Write
      .tab(data-frame="preview") Preview
    .frame.write.open
      
      textarea(name="content" rows="6" placeholder="Article content. Markdown, plain text." required)= article.content
    .frame.preview
  div
    select(name="hubs" multiple placeholder="Hubs")
      each hub in hubs
        if article.hubs && article.hubs.filter(_hub => _hub._id.equals(hub._id)).length
          option(value=hub._id selected)= hub.title
        else
          option(value=hub._id)= hub.title
  div
    button.btn.btn-submit(type="submit") save