form.articleForm(action=(article._id ? "/articles/"+article._id+"?_method=PUT" : "/articles") method="post" autocomplete="off" enctype="application/x-www-form-urlencoded")
  .field
    input(type="text" name="title" placeholder=__("Title") value=article.title maxLength="150" required autofocus)
  .field
    textarea(name="summary" rows="6" placeholder=__("Article summary. Plain text only.") required)= article.summary
  .field
    .tabs
      .tab.active(data-frame="write")= __('Write')
      .tab(data-frame="preview")= __('Preview')
    .frame.write.open
      textarea(name="content" rows="6" placeholder=__("Article content. Markdown, plain text.") required)= article.content
    .frame.preview
  .field
    select(name="hubs" multiple placeholder=__("Hubs"))
      each hub in hubs
        if article.hubs && article.hubs.filter(_hub => _hub._id.equals(hub._id)).length
          option(value=hub._id selected)= hub.title
        else
          option(value=hub._id)= hub.title
  .field
    button.btn.btn-submit(type="submit")= __('save')