.comment(id=comment._id.toString())
  .content.textHtml!= comment.html
  .meta
    a(href="/articles/"+comment.article._id+"/"+comment.article.slug+"#"+comment._id)
      time(title=moment(comment.createdAt).calendar() datetime=moment(comment.createdAt).format())= moment(comment.createdAt).fromNow()
    span.author
      = " " + __('by') + " "
      a(href="/users/"+comment.creator.username)= comment.creator.username