unless currentUser
  .guestNotice 
    a(href="/auth/signin" rel="nofollow")= __('Sign in')
    = " " + __('or') + " "
    a(href="/auth/signup" rel="nofollow")= __('sign up')
    = " " + __("to post comments")
else
  form.commentForm(action=(comment._id ? "/comments/"+comment._id+"?_method=PUT" : "/comments") method="post" autocomplete="off" enctype="application/x-www-form-urlencoded")
    input(type="hidden" name="article" placeholder="article" value=article._id)
    .field
      .tabs
        .tab.active(data-frame="write")= __('Write')
        .tab(data-frame="preview")= __('Preview')
      .frame.write.open
        textarea(name="content" rows="2" placeholder=__("Comment content") required)= comment.content
      .frame.preview
    .field
      button(type="submit")= __('save')