.user
  h2
    a.username(href="/users/"+user.username)= user.username
  .info
    p emailConfirmed: #{user.emailConfirmed}
    p isAdmin: #{user.isAdmin}
    p isDeleted: #{user.isDeleted}
  .meta
    a.articlesCount(href="") #{user.articlesCount} articles
    = " | "
    a.commentsCount(href="") #{user.commentsCount} comments
    = " | "
    time(title=moment(user.createdAt).calendar() datetime=moment(user.createdAt).format())= moment(user.createdAt).fromNow()
    