.hub
  if showFullHub
    h1
      a.title(href="/hubs/"+hub.slug)= hub.title
      if currentUser && (currentUser.isAdmin || currentUser._id.equals(hub.creator._id))
        a.edit(href="/hubs/"+hub.slug+"/edit")= __('edit')
      include subscriptionBtn
  else
    h2
      a.title(href="/hubs/"+hub.slug)= hub.title
      include subscriptionBtn
  

  .description= hub.description
  .meta
    a.articlesCount(href="/hubs/"+hub.slug)= __n('%s articles', hub.articlesCount)
    = " | "
    a.subscribersCount(href="/hubs/"+hub.slug+"/subscribers")= __n('%s subscribers', hub.subscribersCount)
    = " | "
    a(href="/hubs/"+hub.slug)
      time(title=moment(hub.createdAt).calendar() datetime=moment(hub.createdAt).format())= moment(hub.createdAt).fromNow()
    span.author
      = " " + __('by') + " "
      a(href="/users/"+hub.creator.username)= hub.creator.username

